.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	padding-top: 0px;
	float: none;
}
.dropdown-menu .divider {
	height: 1.1px;
}
.main-navbar__vertical-allign {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.navbar-default {
	background-color: #ffffff;
	border: none;
}
.main-navbar .logo-link {
	margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
 .main-navbar {
	 position: relative;
	 height: 100px;
 }
	.main-navbar .main-menu {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 750px;
		margin: auto;
	}

}

a.logo-link {
	display: inline-block;
	height: 30px;
	width: 150px;
}
img.image-logo {
	right: unset;
}

/*products-list dropdown-menu (b)*/
.dropdown-menu.products-lists__dropdown-menu {
	right: auto;
}
/*products-list dropdown-menu (e)*/

/*dropdown menu search (b)*/
li.dropdown-search {
	position: static;
}
.navbar-right div.dropdown-search-wrapper {
	left: 0;
	padding: 150px 0px;
}
.dropdown-search__input {

}
.dropdown-search__button{
	position: absolute;
	top: 14px;
	display: inline-block;
	padding: 0;
}
.dropdown-search__button-voice {
	left: -9px;
}
.dropdown-search__button-search {
	left: 16px;
}

/*dropdown menu search (e)*/


/*shopping bag (b)*/
.shopping-bag-dropdown-menu {
	padding: 30px 0px;
	min-width: 375px;
}
.shopping-basket-dropdown__image-wrapper {
	height: 92px;
}
.shopping-basket-dropdown__image-wrapper img {
	right: unset;
}
.shopping-basket-dropdown__item:not(:last-child) {
	margin-bottom: 30px;
}
.shopping-basket-dropdown__delete-item {
	display: inline-block;
	margin-top: 38px;
}
.shopping-bag-dropdown-menu__sub-total-price {
	padding: 15px 0px;
	margin:  30px 0px;
	border-top:    1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
/*shopping bag (e)*/


/*favorite products(b)*/
.favorite-products-dropdown-menu {
	width: 420px;
}
/*favorite products(e)*/


/*forms sign-in/register (b)*/
.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}
/*forms sign-in/register (e)*/

/*login-modal (b)*/
.modal-dialog {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -210px;
}
.login-modal__tab-content {
	/*display: table;*/
	min-height: 400px;
}
.login-modal__tab-pane {
	/*display: table-cell;*/
}
.login-modal__tab-content {
	padding-top: 60px;
	padding-bottom: 60px;
}
.login-modal__form-title {
	margin-bottom: 30px;
}

label.sign-in-form__label-checkbox {
	padding-left: 25px;
}
.sign-in-form__cr.cr {
	position: absolute;
	left: 0;
	top: 10px;
	width: 1.3em;
	height: 1.3em;
	background-color: #dadada;
}
.sign-in-form__cr-icon:before {
	bottom: 6px;
	right: 3px;
}

/*login-modal (e)*/
