/* about-us */
.contacts-us__desc a {
	color: #494949;
}
.contacts-us__form-button {
	display: inline-block;
	padding: 10px 25px;
}

.about-us svg {
	fill: #757575;
}
.about-us {
	padding: 75px 0px;
	padding-bottom: 160px;
}
.about-us__title,
.about-us__text {
	margin-bottom: 30px;
}
.about-us__desc {
	margin-bottom: 60px;
}
.about-us__our-team-title {
	margin-bottom: 30px;
}
.about-us__image-wrapper {
	height: 280px;
	margin-bottom: 20px;
}
.about-us__image-wrapper img {
	max-width: inherit;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.about-us__image-wrapper img {
		left: -10%;
	}
}
@media (max-width: 992px) {
	.about-us__member-of-team {
		margin-bottom: 30px;
		text-align: center;
	}
}
.about-us__our-team {
	margin-bottom: 60px;
}
.about-us__our-workspace-title {
	margin-bottom: 30px;
}

/*Follow us (b)*/
.follow-us__title {
	display: block;
	margin-bottom: 20px;
}
.social-icons__link {
	display: inline-block;
	margin-right: 15px;
}
/*Follow us (e)*/

/*Indicators (b)*/
.carousel-with-masonry-grid .carousel-indicators {
	bottom: -89px;
}
li.carousel-with-masonry-grid__indicator-wrapper {
	width: auto;
	height: auto;
	margin: 0;
	padding: 40px 5px;
	border: 0;
}
li.carousel-with-masonry-grid__indicator-wrapper.active {
	width: auto;
	height: auto;
}
.carousel-with-masonry-grid__indicator {
	width: 90px;
	height: 4px;
	background-color: #d1d1d1;
}
li.carousel-with-masonry-grid__indicator-wrapper.active .carousel-with-masonry-grid__indicator {
	background-color: #575757;
}
/*Indicators (e)*/

/*Masonry grid wrappers (b)*/
.carousel-with-masonry-grid__image-left-wrapper {
	height: 542px;
}
@media (max-width: 991px) {
	.carousel-with-masonry-grid__image-left-wrapper {
		height: 308px;
		margin-bottom: 30px;
	}
}
.carousel-with-masonry-grid__image-right-top-5-wrapper,
.carousel-with-masonry-grid__image-right-top-7-wrapper {
	height: 308px;
}
@media (max-width: 767px) {
	.carousel-with-masonry-grid__image-right-top-5-wrapper {
		margin-bottom: 30px;
	}
}

.carousel-with-masonry-grid__image-right-bottom-wrapper {
	height: 205px;
	margin-top: 30px;
}
@media (max-width: 991px) {
	.carousel-with-masonry-grid__image-right-bottom-wrapper {
		height: 308px;
	}
}
/*Masonry grid wrappers (e)*/

/*Masonry grid images (b)*/
.carousel-with-masonry-grid__image-left-wrapper img,
.carousel-with-masonry-grid__image-right-top-5-wrapper img,
.carousel-with-masonry-grid__image-right-top-7-wrapper img {
	max-width: inherit;
}
@media (max-width: 991px) {
	.carousel-with-masonry-grid__image-left-wrapper img {
		max-height: inherit;
		max-width: 100%;
	}
}
.carousel-with-masonry-grid__image-right-bottom-wrapper img {
	max-height: inherit;
}

@media (max-width: 767px) {
	.carousel-with-masonry-grid__image-left-wrapper img,
	.carousel-with-masonry-grid__image-right-top-5-wrapper img,
	.carousel-with-masonry-grid__image-right-top-7-wrapper img,
	.carousel-with-masonry-grid__image-right-bottom-wrapper img {
		max-height: inherit;
	}
}
/*Masonry grid images (e)*/