/* products-list */

.product-item-square-1__image-wrapper {
	height: 275px;
}
.product-list__options-list svg {
	fill: #a5a5a5;
}


/*pagination (b)*/
.pagination li:nth-child(1) {
	visibility: hidden;
}
.pagination li:nth-child(2) a {
	background-color: #eeeeee;
}
.pagination {
	margin: 0px;
}
.page-navigation {
	padding: 50px 0px 100px;
}
.pagination a {
	color: #757575;
}
.pagination > li > a {
	color: inherit;
}
/*pagination (e)*/


/*products-list-options (b)*/
.products-list-options {
	padding: 25px 0px;
}
.sorting-options-list-wrapper,
.products-list__view-normal,
.products-list__view-extended,
.sorting-options-button__text,
.sorting-options-button__icon {
	display: inline-block;
	vertical-align: middle;
}
.sorting-options-list-wrapper {
	position: relative;
}
.sorting-options-list {
	width: 100%;
	min-width: inherit;
}
.sorting-options-list li > a {
	padding-left: 12px;
}
.products-list__view-normal,
.products-list__view-extended {
	width: 38px;
	height: 38px;
	padding: 9px 7px;
	margin-left: 10px;
	border-radius: 50%;
	border: 1px solid #bababa;
	text-align: center;
}
.sorting-options-button {
	margin-top: 1px;
}
.sorting-options-button__icon {
	margin-left: 5px;
}
.products-list__view-results-value:not(:last-child):after {
	content: "/";
	margin-left: 5px;
}
@media (max-width: 767px) {
	.products-list__results,
	.products-list__page-results,
	.product-list__options-list-wrapper {
		text-align: center;
	}
	.products-list__page-results {
		margin-bottom: 30px;
	}

}
/*products-list-options (e)*/


/*products-list (b)*/
.product-item-square-1 {
	position: relative;
	margin-bottom: 50px;
}
.product-item-square-1 .marker-new,
.product-item-square-1 .marker-discont {
	position: absolute;
	top: 0;
	left: 0;
}
.product-item-square-1 .marker-new {
	top: 20px;
}
.product-item-square-1 .marker-discont {
	top: 44px;
}
.product-item-square-1__image-wrapper img {
	max-height: inherit;
}
.product-item-square-1 .rating {
	margin-top: 5px;
}
/*products-list (e)*/
