/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: local('BrandonGrotesque-Regular'), 
        local('BrandonGrotesque-Regular'), 
        url('BrandonGrotesque-Regular.woff') format('woff'), 
        url('BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
