.image-carousel-1-wrapper {
	height: 590px;
}

.masonry-4-grid-1__image-wrapper-1 {
	height: 480px;
}

.masonry-4-grid-1__image-wrapper-2 {
	height: 220px;
}

.carousel-1-4_2__image-wrapper {
	height: 213px;
}

.carousel-2-4__image-wrapper {
	height: 275px;
}

