/*Product main segment styles*/
.product__image-wrapper {
	height: 450px;
}
.product_carousel-container__image-wrapper {
	height: 105px;
}
	@media (max-width: 992px) {
	.product_carousel-container__image-wrapper img {
		max-width: 100%;
		max-height: unset;
	}
}
.static-gallery-5-items__image-wrapper {
	height: 213px;
}
@media (max-width: 1200px) {
	.static-gallery-5-items__image-wrapper img {
		max-width: unset;
	}
}
@media (max-width: 992px) {
	.static-gallery-5-items__image-wrapper img {
		max-width: 100%;
		max-height: unset;
	}
}
.product__info svg {
	fill: #b6b6b6;
}
.product__actions svg {
	fill: #b6b6b6;
}
.product__quantity-button svg {
	fill: #696969;
}
.product__add-to-basket-button {
	padding: 10px 20px;
	border-radius: 25px;
}
.product__tab-content {
	min-height: 500px;
}


.product {
	padding-bottom: 75px;
}
.product__wrapper {
	padding: 60px 0px;
	background-color: #f6f6f6;
}
.product__info {
	margin-bottom: 50px;
}
.product__info-icon,
.product__info-text {
	display: inline-block;
	vertical-align: middle;
}
.product__info-link {
	margin-right: 15px;
}
.product__header .breadcrumb {
	margin-top: 0;
	padding-top: 2px;
	margin-bottom: 15px;
}
.product-name {
	margin-bottom: 20px;
}
.product__header .rating,
.product__header .reviews {
	display: inline-block;
	vertical-align: top;
}
.product__actions {
	margin-top: 30px;
	padding-bottom: 35px;
}
.product__actions-link {
	margin-right: 15px;
}
.product__desc {
	padding: 25px 0px;
	border-top:    1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 30px;
}
.product__desc .desc:nth-child(1) {
	margin-bottom: 40px;
}
.product-prices {
	margin-bottom: 30px;
}
.product__quantity-value {
	width: 50px;
	padding: 5px 10px;
}
.product__quantity-buttons {
	position: relative;
}
.product__quantity-more,
.product__quantity-less {
	position: absolute;
	left: 20px;
	background-color: transparent;
	border: 0;
}
.product__quantity-buttons svg {
	fill: #979797;
}
.product__quantity-more {
	top: 0px;
}
.product__quantity-less {
	top: 17px;
}
.product__add-to-basket-button {
	border: 0;
}
.product__quantity-text,
.product__quantity-buttons {
	margin-right: 20px;
}
.product__info-tabs{
	padding-top: 70px;
	padding-bottom: 100px;
}
.product__info-tabs .tab-pane {
	padding-top: 30px;
}
.static-gallery-5-items__title {
	padding-left: 15px;
	margin-bottom: 25px;
}

.product__image-wrapper img	{
	max-height: unset;
}
@media (max-width: 992px) {
	.product__image-wrapper img	{
		max-width: 100%;
		max-height: unset;
	}
}
@media (max-width: 550px) {
	.product__image-wrapper img	{
		max-width: unset;
		max-height: 100%;

	}
}
.product__image-wrapper	{
	margin-bottom: 22px;
}
.product_carousel {
	position: relative;
	padding: 0 38px;
}
.product_carousel-container__item {
	margin: 0px 7px;
}
.product_carousel-navigation__prev,
.product_carousel-navigation__next {
	position: absolute;
	top: 0;
	bottom: 6px;
	padding: 36px 5px 0px;
	margin-top: 5px;
	background-color: #f6f6f6;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.product_carousel svg {
	fill: #555555
}
.product_carousel-navigation__prev {
	left: 0px;
}
.product_carousel-navigation__next {
	right: 0px;
}

.static-gallery-5-items__item {
	position: relative;
}
.static-gallery-5-items .marker-new,
.static-gallery-5-items .marker-discont {
	position: absolute;
	top: 0;
	left: 0;
}
.static-gallery-5-items .marker-new {
	top: 20px;
}
.static-gallery-5-items .marker-discont {
	top: 44px;
}
.static-gallery-5-items .rating {
	position: absolute;
	left: 50%;
	bottom: 70px;
	margin-left: -35px;
}
