/* 404 */
.page-404__title {
	margin-bottom: 35px;
}
.page-404__sub-title {
	margin-bottom: 10px;
}
.page-404__form {
	position: relative;
	display: inline-block;
}
.page-404__form-wrapper {
	margin-top: 80px;
}
.page-404 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 580px;
}
.page-404__button {
	position: relative;
	top: 2px;
	margin-right: 28px;
}
.page-404__form-button {
	position: absolute;
	top: 10px;
	right: 4px;
}
.page-404__form-input {
	padding-right: 40px;
	border: 3px solid #545454;
	line-height: 20px;
}