.black-282828-bg {
	background-color: #282828;
}

.black-494949-bg {
	background-color: #494949;
}

.black-545454-bg {
	background-color: #545454;
}

.grey-f4f4f4-bg {
	background-color: #f4f4f4;
}

.grey-696969-bg {
	background-color: #696969;
}

.grey-f6f6f6-bg {
	background-color: #f6f6f6;
}

.black-3a3a3a-bg {
	background-color: #3a3a3a;
}

.grey-eeeeee-bg {
	background-color: #eeeeee;
}

.green-b2cc29-bg {
	background-color: #b2cc29;
}
.green-88bd6e-bg {
	background-color: #88bd6e;
}

.yellow-eed24c {
	background-color: #eed24c;
}

.yellow-cba233 {
	background-color: #cba233;
}


.black-000000-bg {
	background-color: #000000;
}

.grey-bebebe {
	background-color: #bebebe;
}

.red-f46060-bg {
	background-color: #f46060;
}

.grey-f0f0f0-bg {
	background-color: #f0f0f0;
}