.text-myriad-pro-regular-12 {
	font-family: MyriadPro-Regular;
	font-size: 12px;
	text-transform: none;
}

.text-myriad-pro-regular-12-ls-1 {
	font-family: MyriadPro-Regular;
	font-size: 12px;
	text-transform: none;
	letter-spacing: 1px;
}

.text-myriad-pro-regular-15 {
	font-family: MyriadPro-Regular;
	font-size: 15px;
}
.text-myriad-pro-regular-16 {
	font-family: MyriadPro-Regular;
	font-size: 16px;
}

.text-myriad-pro-regular-18 {
	font-family: MyriadPro-Regular;
	font-size: 18px;
}
.text-myriad-pro-regular-18-up {
	font-family: MyriadPro-Regular;
	font-size: 18px;
	text-transform: uppercase;
}

.text-montserrat-bold-11 {
	font-family: Montserrat-Bold;
	font-size: 11px;
	text-transform: none;
}

.text-montserrat-bold-13-upper {
	font-family: Montserrat-Bold;
	font-size: 13px;
	text-transform: uppercase;
}

.text-montserrat-bold-11 {
	font-family: Montserrat-Bold;
	font-size: 11px;
}

.text-montserrat-bold-14 {
	font-family: Montserrat-Bold;
	font-size: 14px;
}

.text-montserrat-bold-14-upper {
	font-family: Montserrat-Bold;
	font-size: 14px;
	text-transform: uppercase;
}

.text-montserrat-bold-16-upper {
	font-family: Montserrat-Bold;
	font-size: 16px;
	text-transform: uppercase;
}
.text-montserrat-bold-16-cap {
	font-family: Montserrat-Bold;
	font-size: 16px;
	text-transform: capitalize;
}
.text-montserrat-bold-20-cap {
	font-family: Montserrat-Bold;
	font-size: 20px;
	text-transform: capitalize;
}

.text-montserrat-bold-24-cap {
	font-family: Montserrat-Bold;
	font-size: 24px;
	text-transform: capitalize;
}

.text-montserrat-bold-24-upper {
	font-family: Montserrat-Bold;
	font-size: 24px;
	text-transform: uppercase;
}

.text-myriad-pro-regular-14 {
	font-family: MyriadPro-Regular;
	font-size: 14px;
}

.text-myriad-pro-regular-14-upper {
	font-family: MyriadPro-Regular;
	font-size: 14px;
	text-transform: uppercase;
}
.text-myriad-pro-regular-14-cap {
	font-family: MyriadPro-Regular;
	font-size: 14px;
	text-transform: capitalize;
}
.text-myriad-pro-regular-14-upper-ls-2 {
	font-family: MyriadPro-Regular;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.text-myriad-pro-regular-14-upper-ls-3 {
	font-family: MyriadPro-Regular;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.text-myriad-pro-bold-58 {
	font-family: MyriadPro-Bold;
	font-size: 58px;
}

.text-montserrat-bold-44-upper {
	font-family: Montserrat-Bold;
	font-size: 44px;
	text-transform: uppercase;
}


.text-montserrat-bold-58 {
	font-family: Montserrat-Bold;
	font-size: 58px;
}

.text-montserrat-bold-200-upper {
	font-family: Montserrat-Bold;
	font-size: 200px;
	text-transform: uppercase;
}

.text-montserrat-bold-18-upper {
	font-family: Montserrat-Bold;
	font-size: 18px;
	text-transform: uppercase;
}

.text-source-sans-pro-light-58 {
	font-family: "Source Sans Pro Light";
	font-size: 58px;
}

.text-sourse-sans-pro-regular-14 {
	font-family: "Source-Sans-Pro-Regular";
	font-size: 14px;
	text-transform: none;
}

.text-sourse-sans-pro-regular-18-up {
	font-family: "Source-Sans-Pro-Regular";
	font-size: 18px;
	text-transform: none;
	text-transform: uppercase;
}

.text-montserrat-regular-13-upper {
	font-family: Montserrat-Regular;
	font-size: 13px;
	text-transform: uppercase;
}

.text-montserrat-regular-14 {
	font-family: Montserrat-Regular;
	font-size: 14px;
}

.text-montserrat-regular-11-upper {
	font-family: Montserrat-Regular;
	font-size: 11px;
	text-transform: uppercase;
}

.text-montserrat-regular-14-upper {
	font-family: Montserrat-Regular;
	font-size: 14px;
	text-transform: uppercase;
}
.text-montserrat-regular-16-upper {
	font-family: Montserrat-Regular;
	font-size: 16px;
	text-transform: uppercase;
}

.text-montserrat-regular-14-cap {
	font-family: Montserrat-Regular;
	font-size: 14px;
	text-transform: capitalize;
}

.text-montserrat-regular-18 {
	font-family: Montserrat-Regular;
	font-size: 18px;
}

.text-montserrat-regular-18-upper {
	font-family: Montserrat-Regular;
	font-size: 18px;
	text-transform: uppercase;
}

.text-montserrat-regular-28 {
	font-family: Montserrat-Regular;
	font-size: 28px;
}

.text-montserrat-regular-30 {
	font-family: Montserrat-Regular;
	font-size: 30px;
}

.text-montserrat-regular-16-opacity-05 {
	font-family: Montserrat-Regular;
	font-size: 16px;
	opacity: 0.6;
}

.text-oxygen-regular-12 {
	font-family: Oxygen;
	font-size: 12px;
	text-transform: none;
}

.text-sourse-sans-pro-regular-14 {
	font-family: "Source-Sans-Pro-Regular";
	font-size: 14px;
	text-transform: none;
}

.text-sourse-sans-pro-regular-16 {
	font-family: "Source-Sans-Pro-Regular";
	font-size: 16px;
}

.text-sourse-sans-pro-regular-16-ls-2 {
	font-family: "Source-Sans-Pro-Regular";
	font-size: 16px;
	letter-spacing: 2px;
}

.text-source-sans-pro-bold-14 {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 14px;
}

.text-source-sans-pro-bold-16 {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 16px;
}
.text-source-sans-pro-bold-16-up {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 16px;
	text-transform: uppercase;
}

.text-source-sans-pro-bold-30-up {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 30px;
	text-transform: uppercase;
}


.text-source-sans-pro-bold-16-capitalize {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 16px;
	text-transform: capitalize;
}

.text-source-sans-pro-bold-18-cap {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 18px;
	text-transform: capitalize;
}
.text-source-sans-pro-bold-18-up {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 18px;
	text-transform: uppercase;
}
.text-source-sans-pro-bold-20-up {
	font-family: "Source-Sans-Pro-Bold";
	font-size: 20px;
	text-transform: uppercase;
}


.text-source-sans-pro-light-13 {
	font-family: "Source Sans Pro Light";
	font-size: 13px;
}

.text-source-sans-pro-light-14 {
	font-family: "Source Sans Pro Light";
	font-size: 14px;
	text-transform: none;
}
.text-source-sans-pro-light-44-up {
	font-family: "Source Sans Pro Light";
	font-size: 44px;
	text-transform: uppercase;
}
.text-source-sans-pro-light-16-it {
	font-family: "Source Sans Pro ExtraLight Italic";
	font-size: 16px;
}

.text-source-sans-pro-light-16 {
	font-family: "Source Sans Pro Light";
	font-size: 16px;
}


.text-source-sans-pro-light-24 {
	font-family: "Source Sans Pro Light";
	font-size: 24px;
}
.text-source-sans-pro-light-24-up-ls-2 {
	font-family: "Source Sans Pro Light";
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.fontawesome-12 {
	font-size: 12px;
}

.fontawesome-14 {
	font-size: 14px;
}

.fontawesome-18 {
	font-size: 18px;
}

.fontawesome-36 {
	font-size: 36px;
}

.fontawesome-50 {
	font-size: 50px;
}

.copyrirht {
	font-family: 'MyriadPro-Regular';
	color: #868686;
}

.copyright-title {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: bold;
	color: #000000;
}



.text-montserrat-bold-26-upper {
	font-family: Montserrat-Bold;
	font-size: 26px;
	text-transform: uppercase;
}
.text-montserrat-bold-30-upper {
	font-family: Montserrat-Bold;
	font-size: 30px;
	text-transform: uppercase;
}

.text-montserrat-bold-36-upper {
	font-family: Montserrat-Bold;
	font-size: 36px;
	text-transform: uppercase;
}

.source-sans-pro-semibold-14-upper-ls-2 {
	font-family: "Source Sans Pro Semibold";
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-source-sans-pro-semibold-14-cap {
	font-family: "Source Sans Pro Semibold";
	font-size: 14px;
	text-transform: capitalize;
}
.text-source-sans-pro-semibold-14-up-ls-2 {
	font-family: "Source Sans Pro Semibold";
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.text-source-sans-pro-semibold-12-up-ls-2 {
	font-family: "Source Sans Pro Semibold";
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text-source-sans-pro-semibold-14 {
	font-family: "Source Sans Pro Semibold";
	font-size: 14px;
	text-transform: none;
}

.text-source-sans-pro-semibold-16 {
	font-family: "Source Sans Pro Semibold";
	font-size: 16px;
}

.text-source-sans-pro-semibold-18-cap {
	font-family: "Source Sans Pro Semibold";
	font-size: 18px;
	text-transform: capitalize;
}

.text-myriad-pro-regular-23 {
	font-family: MyriadPro-Regular;
	font-size: 23px;
}
.text-myriad-pro-regular-23-up {
	font-family: MyriadPro-Regular;
	font-size: 23px;
	text-transform: uppercase;
}
.text-myriad-pro-regular-24-up {
	font-family: MyriadPro-Regular;
	font-size: 24px;
	text-transform: uppercase;
}

.text-montserrat-bold-17 {
	font-family: Montserrat-Bold;
	font-size: 17px;
}
.text-montserrat-bold-52-up {
	font-family: Montserrat-Bold;
	font-size: 52px;
	text-transform: uppercase;
}
.text-montserrat-bold-65-up {
	font-family: Montserrat-Bold;
	font-size: 65px;
	text-transform: uppercase;
}


.text-myriad-pro-bold-15 {
	font-family: MyriadPro-Bold;
	font-size: 15px;
}

.text-montserrat-bold-23-upper {
	font-family: Montserrat-Bold;
	font-size: 24px;
	text-transform: uppercase;
}