/* shopping-cart */
.button-text,
.button-icon,
.form-input-middle,
.form-button-middle {
	display: inline-block;
	vertical-align: middle;
}
.button-text {
	margin-right: 10px;
}
.shopping-cart__image-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 79px;
	height: 79px;
	overflow: hidden;
}
.shopping-cart__image-wrapper img {
	max-width: inherit;
}


.shopping-cart__form-button svg,
.shopping-cart__procwwd-checkout-button svg,
.shopping-cart__update-button svg {
	fill: #ffffff;
}
.shopping-cart__form-dropdown-icon {
	fill: #838182;
}
.shopping-cart__form-input {
	line-height: 21px;
}
.shopping-cart__form-dropdown-button {
	padding: 8px 20px;
}

.process {
	position: relative;
	padding-bottom: 75px;
}
.process a {
	color: #838182;
}
.process__step {
	display: inline-block;
}
.process__step-info {
	display: block;
	width: 120px;
	margin-top: 15px;
}
.process__step:not(:last-child) {
	margin-right: 130px;
}
.process__step:not(:last-child):after {
	content: "";
	position: absolute;
	top: 42px;
	display: block;
	width: 120px;
	height: 1px;
	background-color: #838182;
	margin-left: 130px;
}
@media (max-width: 767px) {
	.process__step:not(:last-child) {
		margin-right: 0;
	}
	.process__step:not(:last-child):after {
		width: 0;
	}
}
.process__step-link {
	display: inline-block;
	padding: 20px 28px;
	border-radius: 50%;
	border: 2px solid #838182;
}
.process__step.active .process__step-link {
	color: #3a3a3a;
	border: 2px solid #3a3a3a;
}
.process__step.active .process__step-info {
	color: #3a3a3a;
}

.shopping-cart {
	padding: 75px 0px;
}
.shopping-cart__form-apply-button {
	margin-left: 15px;
}
@media (max-width: 768px) {
	.shopping-cart__form-apply-button {
		margin-top: 30px;
	}
}
.shopping-cart__procwwd-checkout-button {
	position: absolute;
	bottom: 0;
	right: 0;
}
.shopping-cart__form-button {
	position: absolute;
	bottom: 0;
	left: 0;
}

.shopping-cart__item {
	position: relative;
	padding: 20px 0px;
}
.shopping-cart__item:first-child {
	border-top: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
.shopping-cart__item:not(:first-child) {
	border-bottom: 1px solid #d1d1d1;
}
.shopping-cart__head {
	padding-bottom: 20px;
}
.shopping-cart__col-product-photo {
	position: static;
}
.shopping-cart__col-product-info {
	padding: 29px 0px;
	padding-right: 29px;
}
@media (max-width: 767px) {
	.shopping-cart__col-product-info {
		padding-left: 15px;
	}
}
.shopping-cart__col-product-price {
	position: static;
}
.shopping-cart__col-product-price .product-price {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 28px;
	margin: auto;
}
.shopping-cart__col-product-quantity {
	position: static;
}
.shopping-cart__col-product-quantity .product__quantity-buttons {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 40px;
	margin: auto;
}
.shopping-cart__col-product-total-price {
	position: static;
}
.shopping-cart__col-product-total-price .total-price {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 28px;
	margin: auto;
}
.shopping-cart__col-product-actions {
	position: static;
}
.shopping-cart__col-product-actions .shopping-cart__delete-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 25px;
	margin: auto;
}
@media (max-width: 767px) {
	.shopping-cart__col-product-actions .shopping-cart__delete-item {

	}
}
.shopping-cart__table {

}
.shopping-cart__form-apply-wrapper {
	padding: 60px 0px;
}
.shopping-cart__form-apply {
	display: inline-block;
}
.shopping-cart__result-title {
	display: block;
	margin-bottom: 30px;
}
.shopping-cart__result-title-cart {

}
@media (max-width: 767px) {
	.shopping-cart__result-title-cart {
		margin-top: 30px;
	}
}
.shopping-cart__calculate {
	position: relative;
	padding-top: 60px;
	border-top: 1px solid #d1d1d1;
}
.shopping-cart__form .input-group {
	margin-bottom: 15px;
}

.shopping-cart__cart-result {
	padding: 50px 40px;
	margin-bottom: 70px;
	border: 1px solid #d1d1d1;
}
@media (max-width: 600px) {
	.shopping-cart__cart-result {
		margin-bottom: 160px;
		padding: 15px;

	}
	.shopping-cart__form-button {
		bottom: 82px;
		right: 0;
		margin: auto;
	}
	.shopping-cart__procwwd-checkout-button {
		left: 0;
		margin: auto;
	}
}

.shopping-cart__table-cart-result {
	margin-bottom: 0;
}
.shopping-cart__table-cart-result tr:not(:last-child) {
	border-top: 0;
	border-bottom: 1px solid #9d9d9d;
}
.shopping-cart__table-cart-result td:last-child {
	text-align: right;
}
.shopping-cart__table-cart-result tbody > tr > td {
	vertical-align: middle;
}
.shopping-cart__table-cart-result tr:first-child th,
.shopping-cart__table-cart-result tr:first-child td {
	border-top: 0;
}

@media (max-width: 767px) {
	.shopping-cart__head-product-column {
		/*padding-left: 30px;*/
	}
}
@media (max-width: 767px) {
	.shopping-cart__table-cart-result tr > td:last-child {
		width: 75%;
	}
}