/* block_2.css */

.block-2__image-wrapper {

}

.block-2-inline-block {

}
@media (max-width: 992px) {
	.block-2-inline-block {
		display: inline-block;
		width: 49%;
	}
}
@media (max-width: 580px) {
	.block-2-inline-block {
		display: block;
		width: 100%
	}
}