.white-ffffff {
	color: #ffffff;
}



.grey-a1a1a1 {
	color: #a1a1a1;
}

.black-313131 {
	color: #313131;
}

.black-545454 {
	color: #545454;
}

.black-919191 {
	color: #919191;
}

.black-252528 {
	color: #252528;
}

.black-252528-op-6 {
	color: #252528;
	opacity: 0.6;
}

.grey-939393 {
	color: #939393;
}

.grey-9f9f9f {
	color: #9f9f9f;
}

.grey-959596 {
	color: #959596;
}

.grey-979797 {
	color: #979797;
}

.grey-b7b7b7 {
	color: #b7b7b7;
}

.grey-b9b9b9 {
	color: #b9b9b9;
}

.red-991015 {
	color: #991015;
}

.red-f05c5c {
	color: #f05c5c;
}

.blue-2b3d66 {
	color: #2b3d66;
}

.black-000000 {
	color: #000000;
}
.black-353535 {
	color: #353535;
}

.black-494949 {
	color: #494949;
}



.black-575757 {
	color: #575757;
}

.grey-868686 {
	color: #868686;
}

.grey-9c9c9c {
	color: #9c9c9c;
}

.grey-696969 {
	color: #696969;
}

.grey-b6b6b6 {
	color: #b6b6b6;
}


.grey-838182 {
	color: #838182;
}

.white-f6f6f6 {
	color: #f6f6f6;
}



.grey-9d9d9d {
	color: #9d9d9d;
}

.black-535353 {
	color: #535353;
}
.black-3b3b3b {
	color: #3b3b3b;
}
.black-7a7a7a {
	color: #7a7a7a;
}


.black-6a6a6a {
	color: #6a6a6a;
}

.grey-757575 {
	color: #757575;
}

.black-3a3a3a {
	color: #3a3a3a;
}

.grey-bababa {
	color: #bababa;
}






.grey-8a8a8a {
	color: #8a8a8a;
}

.grey-a0a0a0 {
	color: #a0a0a0;
}

.grey-a5a5a5 {
	color: #a5a5a5;
}

.placeholder-color-696969::-webkit-input-placeholder {
	color:#696969;
}
.placeholder-color-696969::-moz-placeholder {
	color:#696969;
}
.placeholder-color-696969:-moz-placeholder {
	color:#696969;
}
.placeholder-color-696969:-ms-input-placeholder {
	color:#696969;
}

.placeholder-color-9d9d9d::-webkit-input-placeholder {
	color:#9d9d9d;
}
.placeholder-color-9d9d9d::-moz-placeholder {
	color:#9d9d9d;
}
.placeholder-color-9d9d9d:-moz-placeholder {
	color:#9d9d9d;
}
.placeholder-color-9d9d9d:-ms-input-placeholder {
	color:#9d9d9d;
}