/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family: 'MyriadPro-Bold';
    src: local('MyriadPro Bold'), 
        local('MyriadPro-Bold'), 
        url('MyriadProBold.eot') format('eot'), 
        url('MyriadProBold.woff') format('woff'), 
        url('MyriadProBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
